body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

.app {
  text-align: center;
  padding: 20px;
}

.input-box {
  margin-bottom: 15px;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  margin-left: 5px;
  padding: 8px;
  cursor: pointer;
}

.filters button {
  margin: 5px;
}

/* Task */
.task {
  display: flex;
  justify-content: space-between;
  background: #222;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;

  /* animation */
  transition: all 0.3s ease;
}

.task:hover {
  transform: scale(1.03);
}

.completed span {
  text-decoration: line-through;
  color: gray;
}