body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.app {
  text-align: center;
  padding: 20px;
}

.input-box {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

button {
  margin-left: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #444;
  color: white;
}

button:hover {
  background: #666;
}

/* Notes */
.note {
  display: flex;
  justify-content: space-between;
  background: #222;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  transition: 0.3s;
}

.note:hover {
  transform: scale(1.03);
}